.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-white {
  color: var(--white);
}

.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}

.bg-light {
  background: var(--light);
}

.bg-white {
  background: var(--white);
}

.bg-dark {
  background: var(--dark);
}
