/* container */
.container,
.container-md,
.container-xl {
  max-width: 1320px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .container,
  .container-md {
    max-width: 720px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 372px;
  }
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block;
  }
}

/* flex */
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

@media (min-width: 576px) {
  .d-sm-flex {
    display: flex;
  }

  .justify-content-sm-between {
    justify-content: space-between;
  }

  .align-items-sm-center {
    align-items: center;
  }
}

@media (min-width: 992px) {
  .d-lg-flex {
    display: flex;
  }
}

/* sizing */
.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-33 {
  width: 33.333%;
}

.w-50 {
  width: 50%;
}

@media (min-width: 576px) {
  .w-sm-50 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50%;
  }

  .w-lg-100 {
    width: 100%;
  }

  .w-lg-66 {
    width: 66.666%;
  }
}

/* grid system */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row > * {
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

@media (min-width: 576px) {
  .col-sm-6 {
    width: 50%;
  }

  .col-sm-10 {
    width: 83.333%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.333%;
  }

  .col-lg-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.333%;
  }
}
