.ps-4 {
  padding-left: 1rem;
}

.px-6 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-4 {
  padding: 1rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.me-4 {
  margin-right: 1rem;
}

.mx-auto {
  margin: 0 auto;
}

.mx-n3 {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.mt-auto {
  margin-top: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

@media (min-width: 576px) {
  .py-sm-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .me-sm-12 {
    margin-right: 3em;
  }

  .mb-sm-0 {
    margin-bottom: 0;
  }

  .mb-sm-6 {
    margin-bottom: 1.25rem;
  }

  .mb-sm-8 {
    margin-bottom: 2rem;
  }

  .mb-sm-10 {
    margin-bottom: 2.5rem;
  }

  .mb-sm-12 {
    margin-bottom: 3rem;
  }

  .mb-sm-20 {
    margin-bottom: 5rem;
  }
}

@media (min-width: 992px) {
  .pt-lg-24 {
    padding-top: 6rem;
  }

  .mb-lg-0 {
    margin-bottom: 0;
  }

  .mb-lg-12 {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .mb-xl-0 {
    margin-bottom: 0;
  }

  .mb-xl-20 {
    margin-bottom: 5rem;
  }
}
